body {
	margin: 0;
}

.wrapper {
	background-color: #bae8e8;
	padding-inline: 102px;
	height: 100dvh;
}

h1 {
	margin: 0;
	font-size: 25px;
	text-transform: lowercase;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 12px;
	border-bottom: 3px solid #272343;
}

nav ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 74px;
}

nav a {
	text-decoration: none;
	color: #000;
}

nav .btn {
	background-color: #272343;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 50px;
	border-radius: 10px;
}

.wrapper h2 {
	font-size: 70px;
	font-weight: bold;
	width: 14ch;
	/* max-width: 500px; */
}

.service-product {
	padding: 53px 66px;
}

.service-product h2 {
	font-size: 24px;
	font-weight: normal;
	text-decoration: underline;
	/* display: inline-block;
	border-bottom: 1px solid black;
	padding-bottom: 2px; */
}

.service-product ul {
	padding: 0;
	list-style-position: inside;
}

.service-product .service {
	margin-bottom: 29px;
}

.service-product li {
	margin-bottom: 10px;
}

.breakdown {
	padding: 53px 66px;
	background-color: #272343;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.breakdown article {
	width: 348px;
	/* width: 30ch; */
}
